* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8BC6EC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    font-size: xx-large;
    font-weight: 800;
    color: #141e2a;
    width: 100vw;
    height: 20vh;
}

.gameContainer {
    display: grid;
    width: 50vh;
    height: 50vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em 1em;
    background-color: #141e2a;
}

.box {
    background-color: #8BC6EC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    font-family: 'Raleway', sans-serif;
}
